[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# We currently have no production dependencies! This is where they go once we
# have some.

[dev-packages]
"flake8" = "*"
"flake8-commas" = "*"
"flake8-comprehensions" = "*"
"flake8-debugger" = "*"
"flake8-docstrings" = "*"
"flake8-isort" = "*"
"flake8-mutable" = "*"
"flake8-todo" = "*"
"mypy" = "*"
"pytest" = "*"
"pytest-cov" = "*"
"twine" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
rope = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "flake8 j5 tests"
type = "mypy j5"
test = "pytest --cov=j5 tests"
test-ci = "pytest --cov=j5 tests --cov-report xml"
test-cov = "pytest --cov=j5 tests --cov-report html"
build = "python setup.py sdist bdist_wheel"
upload = "twine upload dist/*"
