[tool.poetry]
name = "j5"
version = "0.10.0"
description = "j5 Robotics Framework"
authors = ["j5 contributors <j5api@googlegroups.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/j5api/j5"
homepage = "https://j5.org.uk"
documentation = "https://j5.org.uk"
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta",
    "Typing :: Typed",
    "Topic :: Education",
]

[tool.poetry.dependencies]
python = "^3.6"
pyusb = "^1.0"
pyserial = "^3.4"
pyquaternion = "^0.9.5"
zoloto = {version = ">=0.5,<0.7", optional = true}
typing-extensions = "^3.7"
cached_property = "^1.5.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.8"
flake8-commas = "^2.0"
flake8-comprehensions = "^3.2"
flake8-debugger = "^4.0"
flake8-docstrings = "^1.5"
flake8-isort = "^4.0"
flake8-mutable = "^1.2"
flake8-todo = "^0.7.0"
mypy = "^0.812"
pytest = "^6.1"
pytest-cov = "^2.12"
sphinx = "^4.0"
sphinx-rtd-theme = "^0.5.0"
rope = "^0.19.0"
isort = {version = "^5.6",extras = ["pyproject"]}
flake8-bugbear = "^21.4.3"
flake8-builtins = "^1.5.3"
flake8-print = "^4.0.0"
numpy = "^1.19.5"  # This is the last version that supports Python 3.6

[tool.poetry.extras]
zoloto-vision = ["zoloto"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
