[tool.poetry]
name = "j5"
version = "1.0.0b1"
description = "j5 Robotics Framework"
authors = ["j5 contributors <j5api@googlegroups.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/j5api/j5"
homepage = "https://j5.org.uk"
documentation = "https://j5.org.uk"
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
    "Development Status :: 5 - Production/Stable",
    "Typing :: Typed",
    "Topic :: Education",
]

[tool.poetry.dependencies]
python = "^3.6"
pyusb = "^1.0"
pyserial = "^3.4"

[tool.poetry.dev-dependencies]
flake8 = "^4.0"
flake8-commas = "^2.1"
flake8-comprehensions = "^3.6"
flake8-debugger = "^4.0"
flake8-docstrings = "^1.5"
flake8-isort = "^4.0"
flake8-mutable = "^1.2"
flake8-todo = "^0.7.0"
mypy = "^0.950"
pytest = "^7.0"
pytest-cov = "^3.0"
sphinx = "^4.3"
sphinx-rtd-theme = "^1.0.0"
rope = "^1.0.0"
isort = {version = "^5.6",extras = ["pyproject"]}
flake8-bugbear = "^22.7.1"
flake8-builtins = "^1.5.3"
flake8-print = "^4.0.1"
darglint = "^1.8.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
