[tool.poetry]
name = "j5"
version = "0.7.7"
description = "J5 Robotics API"
authors = ["j5 contributors <sro@soton.ac.uk>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/j5api/j5"
homepage = "https://j5.org.uk"
documentation = "https://j5.readthedocs.io"
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta",
    "Typing :: Typed",
    "Topic :: Education",
]

[tool.poetry.dependencies]
python = "^3.6"
pyusb = "^1.0"
pyserial = "^3.4"
pyquaternion = "^0.9.5"
zoloto = {version = "^0.3.0", optional = true}

[tool.poetry.dev-dependencies]
flake8 = "^3.7"
flake8-commas = "^2.0"
flake8-comprehensions = "^2.2"
flake8-debugger = "^3.1"
flake8-docstrings = "^1.3"
flake8-isort = "^2.7"
flake8-mutable = "^1.2"
flake8-todo = "^0.7.0"
mypy = "^0.720"
pytest = "^5.1"
pytest-cov = "^2.7"
sphinx = "^2.2"
sphinx-rtd-theme = "^0.4.3"
rope = "^0.14.0"
isort = {version = "^4.3",extras = ["pyproject"]}
opencv-contrib-python = "^4.1"

# See https://gitlab.com/pycqa/flake8-docstrings/issues/36
pydocstyle = "~4"

[tool.poetry.extras]
zoloto-vision = ["zoloto"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
