[tool.poetry]
name = "j5"
version = "0.9.1"
description = "J5 Robotics API"
authors = ["j5 contributors <j5api@googlegroups.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/j5api/j5"
homepage = "https://j5.org.uk"
documentation = "https://j5.readthedocs.io"
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta",
    "Typing :: Typed",
    "Topic :: Education",
]

[tool.poetry.dependencies]
python = "^3.6"
pyusb = "^1.0"
pyserial = "^3.4"
pyquaternion = "^0.9.5"
zoloto = {version = ">=0.5,<0.6", optional = true}
typing-extensions = "^3.7"
cached-property = "^1.5.1"
cached_property = "^1.5.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.8"
flake8-commas = "^2.0"
flake8-comprehensions = "^3.2"
flake8-debugger = "^3.2"
flake8-docstrings = "^1.5"
flake8-isort = "^3.0"
flake8-mutable = "^1.2"
flake8-todo = "^0.7.0"
mypy = "^0.780"
pytest = "^5.4"
pytest-cov = "^2.10"
sphinx = "^3.1"
sphinx-rtd-theme = "^0.4.3"
rope = "^0.17.0"
isort = {version = "^4.3",extras = ["pyproject"]}
flake8-bugbear = "^20.1.3"
flake8-builtins = "^1.5.3"
flake8-print = "^3.1.4"

[tool.poetry.extras]
zoloto-vision = ["zoloto"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
